<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/tpl/">
        {% csrf_token %}
        <input type="text" name="iname" placeholder="iname">
        <input type="text" name="cname" placeholder="cname">
        <input type="text" name="number" placeholder="number">
        <input type="text" name="site" placeholder="site">
        <input type="submit" value="提交">
    </form>
</body>
</html>